*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: Manrope, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#nav-box {
  visibility: visible;
  position: absolute;
  width: 100vw;
  height: 70px;
  top: 0px;
  background-color: rgba(238, 238, 238, 0.692);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
}

#menu-img{
  transition: 0.1s;
  visibility: hidden;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

#menu-img:hover{
  cursor: pointer !important;
}

#circle{
  position: fixed;
  border: 5px solid #b9b9b9;
	border-left-color: #7a7bb8;
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

#menu-img:hover #circle{
	height: 60px;
	width: 60px;
}

#menu-img img{
  position: fixed;
  margin: 12.5px 0 0 12.5px;
  width: 25px;
  height: 25px;
}

#menu-img:hover img{
  margin: 15px 0 0 15px;
	height: 30px;
	width: 30px;
}


@keyframes spinning {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sizing {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

#inner-box {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nav-box nav {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
}

.nav-item {
  font-family: Manrope, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  font-weight: 600;
}

#main {
  background: url("../imgs/eu_formal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

#intro-page {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
}

#intro-page h1,h2 {
  text-align: center;
  position: relative;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.0625em;
  font-family: 'Times New Roman', Times, serif;
}

#intro-page h1 {
  font-size: 40px;
}

#intro-page h2 {
  font-size: 25px;
  margin-left: 6px;
  z-index:900;
}

#oval{
  height: 30vh;
  width: 100vw;
  background-color: #00031f;
  border-radius: 50%;
  margin-top: -8vh;
}

#seta{
  position: absolute;
  bottom: 10px;
  width: 20px;
  height: 20px;
  animation: seta 1s linear infinite;
}

#seta:hover{
  cursor: pointer;
}

@keyframes seta{
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 5px;
  }
}

#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #00031f;
  margin-top: -20vh;
}